<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="query/1" routerLinkActive="active">
        <a matListItemTitle>Tweets of an User</a>
      </mat-list-item>
      <mat-list-item routerLink="query/2" routerLinkActive="active">
        <a matListItemTitle>Top 100 Followed</a>
      </mat-list-item>
      <mat-list-item routerLink="query/3" routerLinkActive="active">
        <a matListItemTitle>Top 100 Following</a>
      </mat-list-item>
      <mat-list-item routerLink="query/4" routerLinkActive="active">
        <a matListItemTitle>User Homepage</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
