<h1>Tweets of an User</h1>
<h2 *ngIf="{ user: (user$ | async) } as local">
  User: {{ local.user ? local.user.name : "No User selected" }}
</h2>

<div class="action-row">
  <button mat-flat-button color="primary" (click)="getRandomUser()">
    <span>Select Random User</span>
  </button>
  <button mat-flat-button color="primary" (click)="getRandomUserWithTweets()">
    <span>Select Random User that has Tweets</span>
  </button>
</div>

<mat-divider></mat-divider>

<div class="tweets" *ngIf="tweets$ | async as tweets; else noContent">
  <cdk-virtual-scroll-viewport itemSize="133" class="example-viewport">
    <div *cdkVirtualFor="let tweet of tweets">
      <app-tweet [tweet]="tweet"></app-tweet>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div *ngIf="loading$ | async" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<ng-template #noContent>
  <span *ngIf="(loading$ | async) == false" class="no-content"
    >No User Selected or no Tweets found for this user</span
  >
</ng-template>
