<h1>Fanout Cache</h1>

<h2 *ngIf="{ user: (user$ | async) } as local">
  User: {{ local.user ? local.user.name : "No User selected" }}
</h2>

<div class="action-row">
  <button mat-flat-button color="primary" (click)="getRandomUser()">
    <span>Select Random User</span>
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="getRandomUserWithFollowersWithTweets()"
  >
    <span>Select Random User that Follows Users with Tweets</span>
  </button>
</div>

<mat-divider></mat-divider>

<div class="tweets">
  <ng-container *ngIf="tweets$ | async as tweets; else noContent">
    <cdk-virtual-scroll-viewport *ngIf="tweets.length > 0" itemSize="133" class="example-viewport">
      <div *cdkVirtualFor="let tweet of tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </cdk-virtual-scroll-viewport>
    <span *ngIf="tweets.length <= 0 && (loading$ | async) == false" class="no-content">No Tweets found for this user</span>
  </ng-container>
</div>

<div *ngIf="loading$ | async" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<ng-template #noContent>
  <span *ngIf="(loading$ | async) == false" class="no-content">
    No User Selected or no Tweets found for this user
  </span>
</ng-template>
